{% extends '../base.html' %}

{% block title %}Change Password{% endblock title %}

{% block content %}
    <div class="wrapper">
        <div class="title"><span>Change Password</span></div>
        <form action="#" method="post">
            {% csrf_token %}
            {% include 'accounts/message.html' %}
            
            <div class="row">
                <i class="fas fa-lock"></i>
                {{ form.old_password }}
                {% if form.old_password.errors %}
                    <div class="error-message">
                        {% for error in form.old_password.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="row">
                <i class="fas fa-lock"></i>
                {{ form.new_password1 }}
                {% if form.new_password1.errors %}
                    <div class="error-message">
                        {% for error in form.new_password1.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="row">
                <i class="fas fa-lock"></i>
                {{ form.new_password2 }}
                {% if form.new_password2.errors %}
                    <div class="error-message">
                        {% for error in form.new_password2.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="row button">
                <input type="submit" value="Change Password" />
            </div>
            <div class="signup-link">
                <a href="{% url 'home' %}">Back to Home</a>
            </div>
        </form>
    </div>
{% endblock content %} 