{% extends '../base.html' %}

{% block title %}Registration{% endblock title %}

{% block content %}
    <div class="wrapper">
        <div class="title"><span>Signup Form</span></div>
        <form action="#" method="post">
            {% csrf_token %}
            {% include 'accounts/message.html' %}
            
            <div class="row">
                <i class="fas fa-user"></i>
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="error-message">
                        {% for error in form.username.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="row">
                <i class="fas fa-envelope"></i>
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="error-message">
                        {% for error in form.email.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="row">
                <i class="fas fa-lock"></i>
                {{ form.password }}
                {% if form.password.errors %}
                    <div class="error-message">
                        {% for error in form.password.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="row">
                <i class="fas fa-lock"></i>
                {{ form.confirm_password }}
                {% if form.confirm_password.errors %}
                    <div class="error-message">
                        {% for error in form.confirm_password.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="row button">
                <input type="submit" value="Signup" />
            </div>
            <div class="signup-link">Already a member? <a href="{% url 'signin' %}">Login now</a></div>
        </form>
    </div>
{% endblock content %}